/* ----- Menu bar styles ----- */
#background_menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 6rem;
    width: 100%;
    margin: 0 auto;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    transition: top 0.4s; /* Transition effect when sliding down (and up) */
    background-color: white;
}

    #bar_menu {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-items: center;
        align-items: center;
        width: 70%;
        height: 100%;
        grid-column-gap: 4rem;    
        margin: 0 auto;
        text-align: center;           
        font-size: 1.5rem;
        background-color: rgba(220,220,220, 0.5);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;        
    }

        #user_identification {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

            #user_identification span {
                font-size: 1.5rem;
                color: black;
                margin-left: 1rem;
            }



/* Buttons bar */
#div-main {
    display: grid;
    grid-template-columns: 1fr;    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 5rem;
    top: 5.5rem;
    position: fixed; /* Make it stick/fixed */    
    width: 100%;
    transition: top 0.4s; /* Transition effect when sliding down (and up) */
    background-color: white;
}
    
.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    margin: 0 auto;    
    background-color: white;
}
    


/* --- Responsive design --- */
@media only screen and (max-width: 1200px) {
    .bar_menu {                
        width: 35%;        
        column-gap: 1rem;}

    #div_include_general_menu {
        height: 7rem;}

    .navbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;        
        width: 50%;}

    .last {
        grid-column: 3 / 5;
        grid-row: 2 / 3;}
}



/* Select element */
#select-element {
    background-color: var(--brown_100);
    border: none;
    height: 2rem;
    width: 10rem;
    padding: 0.3rem;    
}
    #select-element option {                
        background-color: white;
        height: 15rem;
    }
